 body {
     font-family: 'Ubuntu Mono';
 }
 
 .jumbotron {
     top: 20%;
     left: 45%;
     width: 50%;
     height: 50%;
     color: white;
     position: absolute;
     text-align: center;
     background-color: #76bcd9;
     margin: -25px 0 0 -31px;
 }
 
 jumbotron h3 {
     margin: auto;
     line-height: 50px;
     vertical-align: middle;
 }